/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.bodyContainer {
    display: flex;
    flex-direction: row;


}

.leftContainer{
    display: flex;
    width: 40vw;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;

}
.heroContainer{
    display: flex;
    height: 20vh;
    width: 100%;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.507);
}
.logoContainer{
    margin-left: 15%;
    height: 100%;
    width: 30%;
}
.textContainer{
    max-height: auto;
    max-width: auto;
    font-size: 5vw;
    margin-top: 45px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
.logo{
    max-width: 100%;
    max-height: 100%;
}

.signupText,.signupTexth2{
    font-weight:600;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding-right: 100px;
    font-family: 'Raleway', sans-serif;

}
.signupText{
    font-size: calc(10px + 1.5vh);
}
.signupTexth2{
    font-size: calc(8px + 1.5vh);
}

em{
    font-size: 0.25rem;
}
.signupTextContainer{
    
    margin-top: 10vh;
    min-height: 30vh;
    width: 100%;

}
.signupForm{
    min-height: 30vh;
    width: 100%;
    background-color: #fff;

}
.signupButtons{
    min-height: 30vh;
    width: 100%;
    background-color:cadetblue;
}
